PORT=3000
NODE_ENV=development
JWT_SECRET=supersecretchangeme
JWT_EXPIRES_IN=1d
MONGO_URI=mongodb://mongo:27017/apidb
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/apidb?schema=public
CORS_ORIGIN=http://localhost:5173,http://localhost:3000

# Frontend
VITE_LOGO_DEV_TOKEN=coloque_sua_chave_logo_dev_aqui
